{% extends 'base.html' %} 

{% block content %} 
    <h1>{% block title %} My List {% endblock %}</h1>
    <div>
        <ol>
            {% for movie in movies %} 
                <li>
                    <h2> {{ movie.title }} </h1>
                    <div style="max-width: 700px;">
                        <img style="max-height: 100px;" src="{{ movie.banner }}" alt="movie banner">
                        <h3>Description</h3>
                        <p>{{ movie.description }}</p>
                        <h4>Rating: {{ movie.rating }}</h4>
                    </div>
                </li>
            {% endfor %}
        </ol>
        
    </div>
{% endblock %}